/* stylelint-disable max-line-length */
@font-face {
  font-family: exo-bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Exo-Bold.woff') format('woff');
}

@font-face {
  font-family: exo-regular;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Exo-Regular.woff') format('woff');
}

@font-face {
  font-family: exo-light;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Exo-Light.woff') format('woff');
}
